[Unit]
Description=PiRadio
After=network.target

[Service]
Type=forking
User=root
WorkingDirectory=/home/pi/PiRadio
Environment=PYTHONPATH=/home/pi/PiRadio
ExecStart=/home/pi/PiRadio/Radio/venv/bin/python -m Radio.daemonMain start --app=1
ExecStop=/home/pi/PiRadio/Radio/venv/bin/python -m Radio.daemonMain stop
ExecReload=/home/pi/PiRadio/Radio/venv/bin/python -m Radio.daemonMain restart --app=1
Restart=always
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
