<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="navbar.css">
    <title >PiRadio</title>
    </head>
    <body>
    <div class="topnav">
      <a class="active" href="#data">Home</a>
      <a href="#streams">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <h1 id="pi_radio_heading"> PiRadio</h1>

    <label for="stream">Current Radio Stream</label>
    <input type="text" id="stream" name="stream" value={{stream}}><br><br>

	<input type="checkbox" id="button_on_off" name="fav_language" disabled {{ "checked" if button_on_off else "" }}>
    <label for="button_on_off">Button On/Off</label><br>

    <input type="checkbox" id="button_lang" name="fav_language" disabled {{ "checked" if button_lang else "" }}>
    <label for="button_lang">Button Lang</label><br>

    <input type="checkbox" id="button_mittel" name="fav_language" disabled {{ "checked" if button_mittel else "" }}>
    <label for="button_mittel">Button Mittel</label><br>

    <input type="checkbox" id="button_kurz" name="fav_language" disabled {{ "checked" if button_kurz else "" }}>
    <label for="button_kurz">Button Kurz</label><br>

    <input type="checkbox" id="button_ukw" name="fav_language" disabled {{ "checked" if button_ukw else "" }}>
    <label for="button_ukw">Button UKW</label><br>

    <input type="checkbox" id="button_spr" name="fav_language" disabled {{ "checked" if button_spr else "" }}>
    <label for="button_spr">Button Spr.</label><br>

    <label for="volume">Volume</label>
      <input type="text" id="volume" name="volume" value={{volume}}><br><br>

    <label for="pos_lang_mittel_kurz">Pos. Lang/Mittel/Kurz</label>
      <input type="text" id="pos_lang_mittel_kurz" name="pos_lang_mittel_kurz" value={{pos_lang_mittel_kurz}}><br><br>

    <label for="pos_ukw_spr">Pos. UKW/Spr.</label>
      <input type="text" id="pos_ukw_spr" name="pos_ukw_spr" value={{pos_ukw_spr}}><br><br>
    </body>
</html>