<!DOCTYPE html>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{{ url_for('static', filename='/functions.js') }}"></script>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='/base.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='/toggleSwitch.css') }}" rel="stylesheet">
        <title >PiRadio</title>

        {{ turbo() }}
    </head>
    <body>
        <header>
               <img src="{{ url_for('static', filename='/radio-svgrepo-com.svg') }}"  id="radioLogo">
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/Settings">Settings</a></li>
                    </ul>
                </nav>
            <div>
                <label class="toggle">
                  <input id="toggleWebControl" type="checkbox" onclick="sendWebControlValue(this)">
                  <span class="slider"></span>
                    <td id="labelWebControl">Web Control</td>
                </label>

            </div>
        </header>
        <main>
            <div id="radioContainer">
                <img src="{{ url_for('static', filename='/radioFront2.png') }}" alt="radio status" id="radio">
                <div class="sliderRadioContainer">
                  <input type="range" min="19550" max="21100" value="19550" class="slider" id="sliderRadio"
                         oninput="sendPosValue(this.value)">
                </div>

                <div id="buttonContainer">
                    <div>
                        <img src="{{ url_for('static', filename='/buttonSingleDown.png') }}" id="on_on" class="button_on" onclick="buttonClicked('on_off', 0)">
                        <img src="{{ url_for('static', filename='/buttonSingleUp.png') }}" id="on_off" class="button_off" onclick="buttonClicked('on_off', 1)">
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='/buttonSingleDown.png') }}" id="lang_on" class="button_on" onclick="buttonClicked('lang_off', 0)">
                        <img src="{{ url_for('static', filename='/buttonSingleUp.png') }}" id="lang_off" class="button_off" onclick="buttonClicked('lang_off', 1)">
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='/buttonSingleDown.png') }}" id="mittel_on" class="button_on" onclick="buttonClicked('mittel_off', 0)">
                        <img src="{{ url_for('static', filename='/buttonSingleUp.png') }}" id="mittel_off" class="button_off" onclick="buttonClicked('mittel_off', 1)">
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='/buttonSingleDown.png') }}" id="kurz_on" class="button_on" onclick="buttonClicked('kurz_off', 0)">
                        <img src="{{ url_for('static', filename='/buttonSingleUp.png') }}" id="kurz_off" class="button_off" onclick="buttonClicked('kurz_off', 1)">
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='/buttonSingleDown.png') }}" id="ukw_on" class="button_on" onclick="buttonClicked('ukw_off', 0)">
                        <img src="{{ url_for('static', filename='/buttonSingleUp.png') }}" id="ukw_off" class="button_off" onclick="buttonClicked('ukw_off', 1)">
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='/buttonSingleDown.png') }}" id="spr_on"class="button_on" onclick="buttonClicked('spr_off', 0)">
                        <img src="{{ url_for('static', filename='/buttonSingleUp.png') }}" id="spr_off" class="button_off" onclick="buttonClicked('spr_off', 1)">
                    </div>

                </div>
            </div>
            <button onclick="changeImage(1, 2)" id="button">Click me</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            {% include "loadavg.html" %}
            {% block content %}{% endblock %}
        </main>
    </body>
</html>