<div id="load" class="load">
    <table>
        <tr><th>Status:</th><td>{{ button_on_off }}</td></tr>
      <tr><th>Stream:</th><td>{{ stream }}</td></tr>
        <tr><th>Radio name:</th><td>{{ radio_name }}</td></tr>
      <tr><th>Volume:</th><td>{{ volume }}</td></tr>
      <tr><th>Button Lang:</th><td>{{ button_lang }}</td></tr>
        <tr><th>Button Mittel:</th><td>{{ button_mittel }}</td></tr>
      <tr><th>Button Kurz:</th><td>{{ button_kurz }}</td></tr>
      <tr><th>Button UKW:</th><td>{{ button_ukw }}</td></tr>
        <tr><th>Button Spr:</th><td>{{ button_spr }}</td></tr>
      <tr><th>Pos. Lang/Mittel/Kurz:</th><td>{{ pos_lang_mittel_kurz }}</td></tr>
      <tr><th>Pos. UKW:</th><td>{{ pos_ukw_spr }}</td></tr>
    </table>
  </div>