.main{
    border-right: 100px solid white;
    border-left: 100px solid white;
    height: 100vh
}


.container{
  height: 300px;
  text-align: center
}


.switch {                   /* Das label-Element */
	position: relative; /* Um im nächsten Schritt den runden Button mit position:absolute festzusetzen */
	width: 64px;
	height: 34px;
	float: right;
}

.switch span {		    /* Der graue Untergrund des Schalters */ 
	position: absolute;
	background-color: #ccc;
	border-radius: 17px;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: background-color .4s;
}

.switch span::before {    /* Der kreisrunde Button im Switch */
	background-color: white;
	border-radius: 50%;
	content: "";
	position: absolute;
	left: 4px;
	bottom: 4px;
	height: 26px;
	width: 26px;
}

input:checked + span {
  background-color: darkgreen;
}

input:checked + span::before {
  transform: translateX(30px);
}

.switch input {
}