input:not([type='checkbox']), label {
    display:block;
}

h3, .formulaLabel, .pinLabel {
    display: inline-block;
}
#minimum #maximum {
    width: 80px;
}
#pin  {
    width: 30px;
    float: right;
    margin-right: 20%;
}

#formula {
    float: right;
    margin-right: 20%;
}